* {
    padding: 0;
    margin: 0;
}
html,body {
    max-width:960px;
    padding:0;
    margin:0 auto;
}
h1, #resetDiv {
    text-align: center;
    height: 50px;
}

#container {
    margin: 0 auto;
    display: grid;
    
}
.square {
    background-color: black;
    padding-top: 100%;
}
#resetButton {
    margin-top:3px;
    padding: 14px 10px;
}